<%= form_tag({:controller => "admin/content", :action => "merge"}) do %>
  <div class="">
    <h4><%= _("Merge Articles") %></h4>
    <%= hidden_field_tag :current_id, @article.id %>
    <%= label_tag :merge_with, 'Article ID', :style => "text-align: left" %>
    <%= text_field_tag(:merge_with)%>
    <p><%= submit_tag(_("Merge")) %></p>
	<%= @article.inspect%>
  </div>
<% end %>